<!DOCTYPE html>
<html>
	<head>
		<title>
			...
		</title>
		<link rel="stylesheet" type="text/css" href="/Asset/tem.css">
		<script type="text/javascript">
			function goto(adres){
				window.location.href = adres;
			}
		</script>
	</head>
	<body>
		<section>
			<h1>
				Admin Menu
			</h1>
			<hr>
			<section style="background: rgba(0,0,0,0); margin: 0px 30px">
				<h2>
					Admin Menu:
				</h2>
				<h2 class="selectable tab" onclick="goto('../ECACreation')">
					ECA Create
				</h2>
				<h2>
					Managing:
				</h2>
				<h2 class="selectable tab" onclick="goto('../Attendence')">
					Attendance
				</h2>
				<h2>
					Account Settings:	
				</h2>
				<h2 class="selectable tab" onclick="goto('../PasswordChange')">
					Change Password
				</h2>
				<h2 class="selectable tab" onclick="goto('../login')">
					Log out
				<h2>
				{% if di.__len__() != 0 %}
					<h2>
						Attendance Check-in:	
					</h2>
					{% for i in di%}
						<h2 class="selectable tab" onclick="goto('../Checkin/{{i}}')">
							{{di[i]}}
						<h2>
					{% end %}
				{% end %}
				{% if li.__len__() != 0 %}
					<h2>
						Club Manage:
					</h2>
					{% for i in li%}
						<h2 class="selectable tab" onclick="goto('../Manage/{{i}}')">
							{{li[i]}}
						<h2>
					{% end %}
				{% end %}
			</section>
			</div>
		</section>
	</body>
</html>
