<!DOCTYPE html>
<html>
	<head>
		<title>
			...
		</title>
		<link rel="stylesheet" type="text/css" href="/Asset/tem.css">
		<script type="text/javascript">
			function a(){
				window.location.href = "http://www.baidu.com";
			}
		</script>
	</head>
	<body>
		<section>
			<h1>
				Club Management:
				{{ club.name }}
			</h1>
			<hr>
				<p>Leaders & Advisors</p>
				{% for leader in club.leaders%}
					<p style="float:left; width:40%; margin-left: 40px;">
						{{ leader.name }}
					</p>
					<div style="clear:both"></div>
				{% end %}
				<form style="font-size: 30px" method="post">
					<input type="submit" value="Add Advisor" name="search_Ad">
				</form>
				{% for i in club.students %}
				<form style="font-size: 30px" method="post">
				<p>{{["","Monday","Tuesday","Wednesday","Thursday"][i]}}</p>
				<input type="text" value="{{i}}" name="day" style="display: none">
					{% for j in club.students[i] %}
						<p style="float:left; width:40%; margin-left: 40px;">
							{{ j.name }}
						</p>
						<input type = "submit" value = "delete" name = "{{j.id}}" style="float:left;">
						{% if user.permissionLevel >= 1 %}
							<input type = "submit" value = "Lead" name = "{{j.id}}" style="float:left;">
						{% end %}
						{% if j.isLeading(club) %}
							<p style="float:left; max-width:10%; margin-left: 40px;">
								Leader
							</p>
						{% end %}
						<div style="clear:both"></div>
					{% end %}
					<input type="submit" value="Add Member" name="search_student">
					</form>
				{% end %}
			<form style="font-size: 30px" method="post">
				<input type="submit" value="submit" name="submit">
				<input type="submit" value="DismissClub" name="DismissClub">
			</form>
		</section>
	</body>
</html>
