<!DOCTYPE html>
<html>
	<head>
		<title>
			...
		</title>
		<link rel="stylesheet" type="text/css" href="/Asset/tem.css">
		<script type="text/javascript">
			function a(){
				window.location.href = "http://www.baidu.com";
			}
		</script>
	</head>
	<body>
		<section>
			<h1>
				Students Management:
				{{ Title }}
			</h1>
			<hr>
				{% for i in dic %}
				<form style="font-size: 30px" method="post">
				<p>{{["","Monday","Tuesday","Wednesday","Thursday"][i]}}</p>
				<input type="text" value="{{i}}" name="day" style="display: none">
					{% for j in dic[i] %}
						<p style="float:left; width:40%; margin-left: 40px;">
							{{ dic[i][j] }}
						</p>
						<input type = "submit" value = "delete" name = "{{j}}" style="float:left;">
						{% if l %}
							<input type = "submit" value = "Lead" name = "l{{j}}" style="float:left;">
						{% end %}
						{% if lead[i][j] %}
						<p style="float:left; max-width:10%; margin-left: 40px;">
							Leader
						</p>
						{% end %}
						<div style="clear:both"></div>
					{% end %}
					<input type="submit" value="Add Member" name="search_student">
					</form>
				{% end %}
			<form style="font-size: 30px" method="post">
				<input type="submit" value="submit" name="submit">
			</form>
		</section>
	</body>
</html>
